[Unit]
Description=kernel test controller

[Service]
Type=simple
ExecStart=/bin/bash /home/fox/Workspace/RPI4-Kernel-Test/kernel_test_daemon/exec.sh controller

[Install]
WantedBy=multi-user.target
